@import url('https://fonts.googleapis.com/css2?family=Bangers');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Courier+Prime:ital@1&family=Lobster&display=swap');



body{
    font-family: 'Lobster',cursive;
}

h1,h2,h3,h4,h5,h6{font-family: 'Lobster',cursive;}
p{font-family: 'Courier Prime', monospace;}

